@import "variables.scss";
@import "header.scss";
@import "slider.scss";
@import "good-card.scss";
@import "cart.scss";
@import "view.scss";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-window {
    max-width: 1170px;
    border: 2px solid gray;
    margin: auto;
}

.container {
    background-color: $main-background;
    padding: 0 15px;
}